<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Capital Deposits</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                                  <li class="me-3">
            <a href="/capital/add" class="btn btn-sm btn-info add-user-btn">
                <i class="bi bi-plus-circle me-1"></i>Add Capital
            </a>
        </li>
                  <li class="breadcrumb-item"><a href="/capital/data">Capital</a></li>
                  <li class="breadcrumb-item active" aria-current="page">capital</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
        {{#if deposits.length}}
                <table id="all-loans-table" class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Bank</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each deposits}}
                    <tr>
                        <td>{{this.bank}}</td>
                        <td>{{formatDateTime this.capital_deposited_at}}</td>
                        <td>{{formatDecimalNumbers this.capital_amount}}</td>
                        <td>{{this.capital_notes}}</td>
                        <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle btn-primary"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/capital/edit/{{this.capital_id}}">
                                            <i class="bi bi-pencil-square me-2"></i>Edit</a></li>
                                            <li><button class="dropdown-item text-danger"
                                              data-bs-toggle="modal"
                                              data-bs-target="#deleteDepositModal" 
                                              data-capital-id="{{this.capital_id}}" 
                                              data-deposit-amount="{{formatDecimalNumbers this.capital_amount}}" >
                                            <i class="bi bi-trash me-2"></i> Delete</button></li>
                                    </ul>
                                </div>
                          </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
        {{else}}
          <p class="bg-warning p-2">No Capital Deposits Found</p>
        {{/if}}
    </div>
</div>

<div class="modal fade" id="deleteDepositModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0 position-relative">
                <div class="rounded-circle text-white d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 80px; height: 80px;">
                    <i class="bi bi-x-circle text-danger" style="font-size: 4rem;"></i>
                </div>
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <h4 class="mb-3 text-center">Are you sure?</h4>
                <p class="mb-4 text-center">Do you really want to delete bank deposit of amount <strong id="depositAmount" class="text-danger"></strong>? This process cannot be undone.</p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!---end of delete modal-->
<!--deleting form--->
<form method="post" action="/capital/delete" style="display: none;">
    <input type="text" name="deposit_id">
    <button id="deleteDepositBtn">submit</button>
</form>
{{> flash_message}}
<script>
                const deleteDepositModal = document.getElementById('deleteDepositModal');
                const confirmDeleteButton = document.getElementById('confirmDeleteButton');
                const amountDepositElement = document.getElementById('depositAmount');

                 deleteDepositModal.addEventListener('show.bs.modal', (event) => {
                    
                    const trigger = event.relatedTarget;
                    const depositAmount = trigger.getAttribute('data-deposit-amount');
                    const depositId = trigger.getAttribute('data-capital-id');

                    amountDepositElement.textContent = depositAmount
                    document.querySelector('input[name="deposit_id"]').value = depositId
                });

                confirmDeleteButton.addEventListener("click", function () {
                    

                    document.querySelector("#deleteDepositBtn").click()
                })


        
</script>
