<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Incomes</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/branch/view">Branches</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Branch</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
     {{#if incomes.length}}
                <table id="all-income-table" class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Date</th>
                             <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each incomes}}
                            <tr>
                                <td>{{this.income_type}}</td>
                                <td>{{this.amount}}</td>
                                <td>{{formatDateTime this.date}}</td>
                                <td>{{this.description}}</td>
                                 <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm dropdown-toggle btn-primary"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/income/edit/{{this.income_id:}}">
                                                <i class="bi bi-pencil-square"></i> Edit</a></li>
                                            <li><a class="dropdown-item text-danger" href="/income/delete/{{this.income_id:}}">
                                                <i class="bi bi-trash"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                 </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="bg-warning p-2">No Incomes</p>
                {{/if}}
    </div>
</div>
{{> flash_message}}
 <script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
        $(document).ready(function() {
            $('#all-income-table').DataTable({
                paging: true,
                searching: true,
                order: [[1, 'desc']], // Order by Balance descending
                columnDefs: [
                    { orderable: false, targets: [1] } // Disable sorting on Actions column
                ],
                dom: 'Bfrtip',
                buttons: [
                        {
                            extend: 'print',
                            text: 'Print',
                            className: 'btn btn-secondary'
                        }
                ]
            });
        });
</script>
