<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<style>
        .badge {
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            background-color: #87CEEB;
        }

        .badge-closed {
            background-color: green;
        }

        .badge-maturity {
            background-color: red;
        }

        .badge-disbursed {
            background-color: #87CEEB;
        }
</style>
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">All Loans</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/loan/all">Loans</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Branch</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
            {{#if loans.length}}
                <table id="all-loans-table" class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Borrower</th>
                            <th>#</th>
                            <th>Principal</th>
                            <th>Released</th>
                            <th>Interest %</th>
                            <th>Due</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each loans}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{this.loan_id}}</td>
                            <td>{{formatDecimalNumbers this.principal}}</td>
                            <td>{{formatDateTime this.release_date}}</td>
                            <td>{{formatDecimalNumbers this.interest_rate}}%/month</td>
                            <td>{{formatDecimalNumbers this.total_due}}</td>
                            <td>{{formatDecimalNumbers this.total_paid}}</td>
                            <td>{{formatDecimalNumbers this.balance}}</td>
                            <td>
                                
                                 <span class="badge 
                                    {{#if (eq this.status 'closed')}}badge-closed{{/if}}
                                    {{#if (eq this.status 'Past Maturity')}}badge-maturity{{/if}}
                                    {{#if (eq this.status 'Disbursed')}}badge-disbursed{{/if}}
                                ">
                                    {{this.status}}

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle btn-primary"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/loan/details/{{this.loan_id}}">Details</a></li>
                                        <li><a class="dropdown-item" href="/loan/edit/{{this.loan_id}}">Edit</a></li>
                                        <li><a class="dropdown-item text-danger" href="/loan/delete/{{this.loan_id}}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No loans found.</p>
                {{/if}}
    </div>
</div>
{{> flash_message}}
 <script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
        $(document).ready(function() {
            $('#all-loans-table').DataTable({
                paging: true,
                searching: true,
                order: [[7, 'desc']], // Order by Balance descending
                columnDefs: [
                    { orderable: false, targets: [9] } // Disable sorting on Actions column
                ],
                dom: 'Bfrtip',
                buttons: [
                        {
                            extend: 'print',
                            text: 'Print',
                            className: 'btn btn-secondary'
                        }
                ]
            });
        });
</script>