<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Loan Arrears</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/loan/arrears">Arrears</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Arrears</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
          {{#if loans.length}}
                <table id="arrears-loans-table" class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Borrower Name</th>
                            <th>Total Due</th>
                            <th>Total Paid</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each loans}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{this.total_due}}</td>
                            <td>{{this.total_paid}}</td>
                            <td>{{this.missed_amount}}</td>
                            <td>
                                <a href="/loan/details/{{this.loan_id}}" class="btn btn-primary btn-sm">
                                    <i class="bi bi-eye me-1"></i>View
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No Arrears found.</p>
                {{/if}}
    </div>
</div>
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#arrears-loans-table').DataTable({
        paging: true,
        searching: true,
        order: [[3, 'desc']], // Order by Missed Amount descending
        columnDefs: [
            { orderable: false, targets: [4] } // Disable sorting on Actions column
        ],
        dom: 'Bfrtip', // Enable buttons in the DOM
          buttons: [
                        {
                            extend: 'print',
                            text: 'Print',
                            className: 'btn btn-secondary'
                        }
                ]
    });
});
</script>