<link rel="stylesheet" href="/css/datatables/datatables.min.css">

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Payroll</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                     <li class="me-3">
                        <a href="/payroll/add" class="btn btn-sm btn-info add-user-btn">
                            <i class="bi bi-plus-circle me-1"></i>Add Payroll
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/branch/view">Payrolls</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Payroll</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <form id="deletePayrollForm" method="POST" style="display: none;"></form>

    <div class="container-fluid">
        {{#if payrolls.length}}
            <table id="all-income-table" class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>STAFF</th>
                        <th>LAST PAYDATE</th>
                        <th>LAST GROSS AMOUNT</th>
                        <th>LAST TOTAL DEDUCTIONS</th>
                        <th>LAST PAID AMOUNT</th>
                        <th>LAST PAYSLIP</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each payrolls}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{formatDateTime this.last_pay_date}}</td>
                            <td>{{formatDecimalNumbers  this.last_paid_amount}}</td>
                            <td></td>
                            <td>{{formatDecimalNumbers  this.last_paid_amount}}</td>
                            <td></td>
                            <td>
                                  <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="/payroll/slip/{{this.payroll_id}}" target="_blank">
                                                <i class="bi bi-file-earmark-pdf"></i> Download Slip
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" href="/payroll/edit/{{this.id}}">
                                            <i class="bi bi-pencil-square"></i> Edit</a></li>
                                        <li>
                                            <button 
                                                class="dropdown-item text-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deletePayrollModal"
                                                data-payroll-id="{{this.payroll_id}}"
                                                data-staff-first-name="{{this.first_name}}"
                                                data-staff-last-name="{{this.last_name}}"
                                            >
                                                <i class="bi bi-trash me-2"></i> Delete
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p class="bg-warning p-2">No One Has Being Payed</p>
        {{/if}}
    </div>
</div>

{{> flash_message}}

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deletePayrollModal" tabindex="-1" aria-labelledby="deletePayrollModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">
            <!-- Modal Header -->
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteIncomeModalLabel">
                    <i class="bi bi-exclamation-circle-fill me-2"></i>Confirm Deletion
                </h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body text-center">
                <div class="my-3">
                    <i class="bi bi-trash3-fill text-danger" style="font-size: 3rem;"></i>
                </div>
                <p class="mb-4">
                    Are you sure you want to delete the Payroll of Stuff <strong id="payrollName" class="text-danger"></strong>? 
                    This action <span class="fw-bold">cannot</span> be undone.
                </p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i>Cancel
                </button>
                <a id="confirmDeleteButton" href="#" class="btn btn-danger">
                    <i class="bi bi-trash-fill me-1"></i>Delete
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Modal -->

<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {

        $('#all-income-table').DataTable({
            paging: true,
            searching: true,
            order: [[1, 'desc']],
            columnDefs: [
                { orderable: false, targets: [1] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'btn btn-secondary'
                }
            ]
        });

        const deletePayrollModal = document.getElementById('deletePayrollModal');
        const payrollNameElement = document.getElementById('payrollName');
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        const deleteForm = document.getElementById('deletePayrollForm');

        deletePayrollModal.addEventListener('show.bs.modal', (event) => {
                const trigger = event.relatedTarget;
                const payrollId = trigger.getAttribute('data-payroll-id');
                const payrollFirstName = trigger.getAttribute('data-staff-first-name');
                const payrollLastName = trigger.getAttribute('data-staff-last-name');
                // Update modal content
                payrollNameElement.textContent = `${payrollFirstName} ${payrollLastName}`;
                
                // Set form action with expenseTypeId
                deleteForm.action = `/payroll/delete/${payrollId}`;
            });

        // Handle form submission
        confirmDeleteButton.addEventListener('click', () => {
                deleteForm.submit();
        });


    });
</script>
