<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Saving Products</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/savings/accounts/view">All Savings</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Savings</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
            <div class="card">
    <div class="card-body">
        {{#if savingsProducts.length}}
        <table id="savings-products-table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Interest Rate Per Annum %</th>
                    <th>Interest Posting Frequency</th>
                    <th>Minimum Balance</th>
                    <th width="120">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each savingsProducts}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.interest_rate}}</td>
                    <td>{{this.interest_posting}}</td>
                    <td>{{this.minimum_balance}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" 
                                    type="button" 
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false">
                                <i class="fas fa-cog me-1"></i>Actions
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                 <li>
                                    <a class="dropdown-item" href="/savings/products/delete/{{this.id}}">
                                        <i class="bi bi-info-circle me-2"></i> Details
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/savings/products/edit/{{this.id}}">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="/savings/products/delete/{{this.id}}">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="alert alert-info">
            <i class="fas fa-info-circle me-2"></i>No savings products found.
        </div>
        {{/if}}
    </div>
</div>
    </div>
</div>
{{> flash_message}}
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
        $(document).ready(function() {
            $('#savings-products-table').DataTable({
                paging: true,
                searching: true,
                dom: 'Bfrtip',
                 buttons: [
                        {
                            extend: 'print',
                            text: 'Print',
                            className: 'btn btn-secondary'
                        }
                ],
            });
        });
</script>