<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Savings</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/savings/accounts/view">All Savings</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Savings</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
         {{#if savings.length}}
                <table id="savings-accounts-table" class="table card-table table-vcenter text-nowrap" >
                    <thead>
                        <tr>
                            <th>Borrower</th>
                            <th>Account #</th>
                            <th>Product</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each savings}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{this.savings_id}}</td>
                            <td>{{this.product}}</td>
                            <td>{{this.balance}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/savings/details/{{this.savings_id}}">Details</a></li>
                                        <li><a class="dropdown-item" href="/savings/edit/{{this.savings_id}}">Edit</a></li>
                                        <li><a class="dropdown-item text-danger" href="/savings/delete/{{this.savings_id}}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No savings accounts found.</p>
                {{/if}}
    </div>
</div>
{{> flash_message}}
 <script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#savings-accounts-table').DataTable({
        // Enable responsive features
        responsive: true,
        
        // Configure DOM layout
        dom: 'Bfrtip',
        
        // Add export buttons
        buttons: [
            {
                extend: 'print',
                text: 'Print',
                className: 'btn btn-secondary btn-sm',
                exportOptions: {
                    columns: [0, 1, 2, 3] // Exclude Actions column
                }
            }
        ],
        
        // Default ordering (sort by Account # ascending)
        order: [[1, 'asc']],
        
        // Column specific configurations
        columnDefs: [
            {
                targets: -1, // Actions column
                orderable: false,
                searchable: false
            }
        ],
        
        // Pagination settings
        pageLength: 10,
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        
        // Search configuration
        search: {
            return: true,
            smart: true
        },
        
        // Language customization
        language: {
            search: "Search:",
            lengthMenu: "Show _MENU_ entries",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: "Showing 0 to 0 of 0 entries",
            infoFiltered: "(filtered from _MAX_ total entries)",
            zeroRecords: "No matching records found",
            paginate: {
                first: "First",
                last: "Last",
                next: "Next",
                previous: "Previous"
            }
        }
    });
});
</script>
