<link rel="stylesheet" href="/css/datatables/datatables.min.css">
<div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Savings Transactions</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/savings/accounts/view">All Savings</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Savings</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
 </div>
<div class="app-content">
    <div class="container-fluid">
        {{#if transactions.length}}
                <table id="transactions-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Account</th>
                            <th>Date</th>
                            <th>Transaction</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each transactions}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{this.savings_id}}</td>
                            <td>{{formatDateTime this.transaction_date}}</td>
                            <td>{{this.transaction_type}}</td>
                            <td>{{#if (eq this.transaction_type 'withdrawal')}}{{formatDecimalNumbers this.amount}}{{/if}}</td>
                            <td>{{#if (eq this.transaction_type 'deposit')}}{{formatDecimalNumbers this.amount}}{{/if}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/savings/transactions/edit/{{this.id}}">
                                            <i class="bi bi-info-circle me-2"></i> Details</a></li>
                                        <li><a class="dropdown-item" href="/savings/transactions/edit/{{this.id}}">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a></li>
                                        <li><a class="dropdown-item text-danger" href="/savings/transactions/delete/{{this.id}}">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No transactions found.</p>
                {{/if}}
    </div>
</div>
{{> flash_message}}
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/jquery/jquery.datatables.min.js"></script>
<script src="/js/jquery/datatables.buttons.min.js"></script>
<script src="/js/jquery/buttons.print.min.js"></script>
<script>
        $(document).ready(function() {
            $('#transactions-table').DataTable({
                paging: true,
                searching: true,
                dom: 'Bfrtip',
                 buttons: [
                        {
                            extend: 'print',
                            text: 'Print',
                            className: 'btn btn-secondary'
                        }
                ]
            });
        });
</script>
